*,::before,
::after {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
@media (max-width: 1200px) {
  html {
    font-size: 17px;
  }
}
@media (max-width: 786px) {
  html {
    font-size: 14px;
  }
}


@media (max-width: 576px) {
  html {
    font-size: 13px;
  }
}
@media (max-width: 475px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 10px;
  }
}

body {
  margin: 0%;
  padding: 0%;
}
.xicon{
  display: none;
}
#discount-offer {
  display: flex;
  background: #ff6300;
  width: 100%;
  height: 5.6vh;
 
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
#discount-headline {
  margin-right: 10px;
  font-size: 1rem;
  color: white;
  padding: 6px 0px;
}

#Book-Now-button {
  border-radius: 6px 0px 6px 6px;
  padding: 5.5px 12px;
  border: solid 1px black;
  font-weight: bold;
  font-size: 0.8rem;
}

/*logo and navbar*/

.menu-center {
  width: 100%;
  height: 10.5vh;
  display: flex;
  align-items: center;
  box-shadow: 4px 7px 12px #3f3c3ce3;
}


#nav-logo {
  width: 100%;
  margin: auto;
  height: 8vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* align-content: center; */
  align-items: center;

}
#logo {
  width: 20%;
}
.akasa-logo-image{
  width: 68%;
}
@media (min-width:600px)
{


  .akasa-logo-image {
    margin-left: 5%;
  }
}
@media (max-width: 786px) {
  .akasa-logo-image {
    width: 100%;

  }
}
#nav-ul {
  display: flex;
  width: 80%;
  justify-content: flex-end;
  padding: 0px 10px;
 
}
.nav-links {
  color: #818181;
  text-decoration: none;
  z-index: 2;
}
.nav-list-items {
  list-style: none;
  font-size: 0.85rem;
  padding: 10px 17px;
  z-index: 2;
  
}
.nav-links:hover,:active{
  color: black;
}
.dark-mode-container {
  display: none;
}

.icon-div{
  display: none;
}
/*max-width:786px*/
@media (max-width: 786px) {

  #nav-ul {
    display: flex;
    width: 82%;
    justify-content: flex-end;
    padding: 0px 5px;
  }

  #logo {
    width: 18%;
  }
}
.icon-div {
    font-size: 1.7rem;
    display: none;
  }
/*min-width*/
@media (min-width: 850px) {
  #nav-logo {
    width: 100%;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  #logo {
    width: 20%;
  }
  #nav-ul {
    width: 80%;
  }
  #nav-logo {
    width: 1024px;
    margin: auto;
  }
}
@media (min-width: 1536px) {
  #nav-logo {
    width: 1536px;
    margin: auto;
  }
}
@media (min-width: 1280px) {
  #nav-logo {
    width: 1280px;
    margin: auto;
  }
}

/*responsive menu*/
@media (max-width: 600px) {
  #nav-logo{
    justify-content: flex-start;
  }
  .icon-div{
    display: flex;
    margin-left: 10px;
    position: relative;
    width: 20px;
    height: 22px;
    justify-content: center;
  }
  .xicon{
    position: absolute;
    left: 2.2%;

   
  }

  #logo {
    width: 90%;
    display: flex;
    justify-content: center;
    margin-right: 12%;
  }

  .akasa-logo-image {
    width: 40%;
  }
  .dark-mode-container {
    display: flex;
    width: 7%;
    justify-content: space-around;
    font-size: 1.4rem;
    flex-direction: row;
    align-items: center;
    margin-right: 2%;
  }

  #nav-ul {
    display: none;
  }
}

@media (max-width:425px)
{
  .akasa-logo-image{
    width: 47%;
  }
}
.icon-div{
  font-size: 1.7rem;

}
@media (max-width:320px)
{
  .akasa-logo-image{
    width: 57%;
  }
  .icon-div{
    margin: 0;
  }
}
/*hidden-menu*/



  #hidden-nav-ul{
    width: 75%;
  position: absolute;
    display: none;
    flex-direction: column;
    padding: 1em 1.5em;
    height: 525px;
    z-index: 3;
    box-shadow: 0 14px 18px 5px rgba(0, 0, 0, 0.375);
    background: white;
    overflow: scroll;
    border-top-right-radius: 10px;
  
}
.hidden-nav-list-items{
  width: 100%;
 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* text-align: right; */
  flex-wrap: wrap;
  font-size: 1.2rem;
  padding: 4.5%;
  
}


.hidden-nav-links{
  color: #6c6b6b;
  text-decoration: none;
}
.rotated{
  transform: rotate(180deg);
}
.clicked{
  border-left: solid 5px #ff6300;
 
  
  
  }
  .book-menu-block{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

  }
  .sub-menu{
    display: none;
    margin-top: 15px;
 
    overflow: hidden;
    transition: linear 2s ease-in-out;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    
  }
  
.visible {
    display: flex;
}

@keyframes slideInOut {
  from {
      transform: translateY(-100%);
  }
  to {
      transform: translateY(0);
  }
}
  .sub-menu-list-links{
    color: #818181;
    text-decoration: none;
  }
  .sub-menu-list-items{
    min-height: 8.3vh;
    padding: 13px 22px;
    list-style-type: none;
    background-color: #f5f5f5;
    animation: slideInOut 0.1s ease-in-out;
  }

  .first-submenu-elements{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .last-submenu-elements{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  /*image-slider section*/

.image-slider{
  display: flex;
  width: 100%;
  height: 57vh;
 
  flex-direction: column;
  flex-wrap: wrap;
  

}
#slide1-image{
  width: 100%;
  height: 100%;
 
  z-index: -1;
}


#intro-on-top-ofimageslider{
  display: flex;
    flex-direction: column;
    margin: 1.3em 3em;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1rem;
    min-height: 23.5;
    align-content: flex-start;
    align-items: flex-start;
    color: white;
    position: absolute;
}

@media(max-width:1024px)
{
  #intro-on-top-ofimageslider{
    font-size: 0.9rem;
  }}
#Book-now{
  height: 5.7vh;
  min-width: 12%;
  padding: 0px 7px;
  max-width: 37%;
  border: solid 0px white;
 margin-top: 9px;
 font-size: 1rem;
 color: white;
 background-color: #ff6300;
 border-radius: 6px;
 border-top-right-radius: 0px;

}
#Book-now:hover{
  background-color:rgba(255, 255, 255, 0.625);
color: black;
}

.p-h-onslider{
  color: black;
}
@media (max-width:550px)
{
  .image-slider{
    height: 50vh;
  }
  #intro-on-top-ofimageslider{
    margin: 2em 3em;
    font-size: 0.8rem;
  }
@media (max-width:375px)
{
  .image-slider{
    height: 45vh;
  }
  #intro-on-top-ofimageslider{
    margin: 3.2em 3.1em;
    font-size: 0.8rem;
  }

}
#Book-now{
  height: 4.8vh;
  min-width: 14%;
  padding: 0px 10px;

}
}
/*ticket  booking window*/
#ticket-booking-container{
  margin: auto;
  width:80%;
  min-height: 20vh;
  background: rgb(255, 255, 255);
  box-shadow:  1px 2px 11px #888888;
  display: flex;
  flex-direction: column;
  border-radius: 1.2rem; 
  position: relative;
  top: -1.7rem;
}
.ticket-booking-container-elements
{min-height: 7vh;
padding: 1%;
}

#sub-section-container{
  display: grid;
  width: 100%;
  height: 9.5vh;
  /* align-content: center; */
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
background: white;
box-shadow:  1px 2px 11px #acacac;
  border-radius: 0.7rem;
  border-top-right-radius: 0px;


}
.sub-sections{
  display: inline-block;

}
.flightype
{    width: 100%;
  height: 12vh;
  padding: 1.4rem;
  /* margin: auto; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
.flightype>span{
  width: 15%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#one-way{
  width: 30%;
}
#Round-Trip{
  width: 30%;
}
#destination-details{
  display: flex;
  flex-direction: row;
  padding: 10 5px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 8vh;
  align-items: center;

}
.from-to{
  width: 10%;
}
.destination-details-elements{
  max-width: 18%;
  height: 33px;
  color: #666666;
  border: solid 1px #a5a5a5 ;
  padding: 6px 16px;
  border-radius: 0.4rem;
    border-top-right-radius: 0px;
}
#departure-date-box{
  position: relative;
  background: white;
}
input:focus
{
  outline: none !important;
}
#left-right{
  color: #631ada;
}

#departure-date-box>input{
    width: 100%;
  height: 100%;
  border: none;
  color: #7e7c7c;
  font-weight: bold;

}
#departure-date{

  position: absolute;
  color: #666666;
  top: -21%;
  left: 8%;
  background: white;
  width: 70%;
  font-size: 0.7rem;
}
